# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Unity
/Library/*
/Temp/*
/Obj/*
/Build/*
/Assets/AssetStoreTools*

*.sln
*.csproj
sysinfo.txt

*.apk
*.unitypackage